*{margin: 0; padding: 0; outline: none; border: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
body{background: #1F1F1F;}
section#caixa-principal{width: 100%; height: 800px;}
nav#home{width: 100%; height: 100%; background: transparent;}
header{width: calc(100% - 120px); height: 50px; background: #333; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
footer{width: 100%; height: 50px; background: #333; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); display: none;}
aside{width: 50px; height: calc(100% - 120px); background: #333; position: fixed; left: 0; top: 50%; transform: translateY(-50%); display: block;}
svg.borda{width: 50px; height: 50px; background: transparent;}
svg#borda-topo{position: fixed; top: 10px}
svg#borda-base{position: fixed; bottom: 10px}
svg#borda-esquerda{position: absolute; left: 11px;}
svg#borda-direita{position: absolute; right: 11px;}
svg#borda-rodape-esq{position: fixed; left: 0; bottom: 30px; display: none; z-index: 10;}
svg#borda-rodape-dir{position: fixed; right: 0; bottom: 30px; display: none; z-index: 10;}
::-webkit-scrollbar{width: 7px; background: #000;}
::-webkit-scrollbar-thumb{width: 7px; background: #111;}
div.icon{width: 40px; height: 40px; background: #1F1F1F; margin-top: 10px; margin-bottom: 10px; margin-left: 5px; border-radius: 50%;}
div.icon:hover{border-radius: 10%; transition: ease-in 0.2s; cursor: pointer;}
img{width: 100%;}
img#label-logo{width: 320px; position: absolute; left: 50%; transform: translateX(-50%);}
div.barra{width: 30px; height: 2px; background: #1F1F1F; margin-left: 10px;}
@media screen and (max-width: 500px) {
    header{width: 100%;}
    footer{display: block; width: 100%;}
    aside{display: none;}
    svg#borda-esquerda{display: none;}
    svg#borda-direita{display: none;}
    svg#borda-topo{display: none;}
    svg#borda-base{display: none;}
    svg#borda-rodape-esq{display: none; width: 20px; height: 20px; background: transparent}
    svg#borda-rodape-dir{display: none; width: 20px; height: 20px; background: transparent}
    div#caixa-icones{display: flex; justify-content: space-between; width: 85%; height: calc(100%); margin-left: 50%; transform: translateX(-50%); margin-bottom: 10px; background: transparent; cursor: none;}
    div.icon{margin: 0; margin-top: 5px;}
 }
